{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'cssd/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'cssd/style.css'  %}">
   
    

</head>
<body class="log">


    <div class="log_1">
       
        
        <h1 class="log_h1">Welcome to DEV</h1>

        <p class="log_p1">DEV is a community of 458,708 amazing developers.</p>
        

        
        <button class="log_btn_1">Continue with GitHub</button>
        
        <br>
        
        <button class="log_btn_1"> Continue with Twitter</button>

        <p class="log_p2">{{bad}}</p>
        
        <form action="" method="POST">{% csrf_token %}

            <input type="text" name="username" id="" class="log_input" placeholder="username">
            <br>
            
            <input type="email" name="email" id="" class="log_input" placeholder="@yahoo.com">
            <br>
            <input type="password" name="password1" id="" class="log_input" placeholder="***********">
            
            <br>
            <input type="password" name="password2" id="" class="log_input">
            
            
            <br>

            <button class=" log_btn">Continue</button>

            <p class="log_p2">I forgot my password</p>
           
        

        </form>



    
</body>
</html>